.pricing-plan-card {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: fluid(40, 24);
  padding-block: fluid(40, 24);
  padding-inline: fluid(24, 20);
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: fluid(16, 12);
  transition-duration: var(--transition-duration);

  &--blue {
    background-color: var(--color-blue-hover);
    border-color: transparent;

    .plan-card__item-button {
      border-color: transparent;
    }
  }

  @include mobile-above {
    @include hover {
      box-shadow: 0 0 10px 0 #d0d0d078;
      translate: 0 -44px;
    }
  }

  @include mobile {
    width: 100%;
  }
}

.plan-card {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @include mobile {
    width: 100%;
  }

  &__subtitle--best {
    color: var(--color-white);
  }

  &__header {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 16px;
  }

  &__title-wrapper {
    display: flex;
    align-items: flex-end;
    column-gap: 8px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    column-gap: 8px;
    font-size: fluid(56, 32);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;

    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: normal;
      color: currentColor;
    }

    &--best {
      color: var(--color-white);
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;

    &--best {
      color: var(--color-white);
    }
  }

  &__desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-placeholder);
  }

  &__icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__icon {
    padding: 8px;
    background-color: var(--color-light-gray);
    border-radius: 50%;

    @include mobile {
      width: 32px;
      height: 32px;
      padding: 6px;
    }

    &--best {
      color: var(--color-white);
      background-color: var(--color-blue-primary);
    }
  }

  &__includes {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    &--best {
      color: var(--color-white);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: fluid(16, 14);
    font-weight: 500;
    line-height: 1.6;

    &--best {
      color: var(--color-white);
    }
  }

  &__item-label {
    &--line-through {
      text-decoration: line-through;
      color: var(--color-placeholder);
    }
  }

  &__item-icon {
    flex-shrink: 0;
    display: flex;
    width: 24px;
    color: #46b277;

    &--line-through {
      color: var(--color-placeholder);
    }
  }
}
