.benefits {
  padding-top: fluid(164, 56);
  padding-bottom: fluid(94, 30);

  &__header {
    max-width: 500px;

    .section-header__desc {
      max-width: 360px;
    }

    @include mobile {
      .section-header__title {
        word-break: auto-phrase;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 49% auto;
    align-items: center;
    column-gap: fluid(58, 30);

    @include mobile {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: fluid(40, 24);

    @include mobile {
      width: 100%;
    }
  }

  &__image {
    border-radius: fluid(8, 6);
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: fluid(32, 16);
    max-width: 393px;
  }

  &__item {
    display: flex;
    align-items: center;
    column-count: 2;
    column-gap: 16px;

    svg {
      flex-shrink: 0;
      display: flex;
      color: #46b277;
    }
  }
}
