.badge {
  justify-self: flex-start;
  padding-block: 6px;
  padding-inline: 12px;
  background-color: rgba(20, 99, 255, 0.1);
  border-radius: 100px;

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  &__image {
    width: 20px;
    object-fit: cover;
  }

  &__label {
    font-size: fluid(16, 14);
    font-weight: 500;
    color: var(--color-blue-primary);

    &--white {
      font-size: 14px;
      color: var(--color-white);
    }
  }

  &--blue {
    background-color: var(--color-blue-primary);
  }
}
