.score {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__num {
    font-size: fluid(64, 32);
    font-weight: 600;
    line-height: 1.2;
  }

  &__desc {
    font-size: fluid(18, 16);
    font-weight: 500;
    line-height: 1.8;
    color: var(--color-placeholder);
  }
}
