.button {
  display: inline-flex;
  align-items: center;
  padding-block: fluid(16, 12);
  padding-inline: fluid(42, 16);
  font-size: fluid(16, 14);
  font-weight: 700;
  line-height: 1.5;
  white-space: nowrap;
  border: none;
  border-radius: 50px;

  @include hover {
    color: var(--color-white);
    background-color: var(--color-accent);
    border-color: transparent;
  }

  &--dark {
    color: var(--color-white);
    background-color: var(--color-dark);
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-white);
  }

  &--light-with-border {
    color: var(--color-dark);
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
  }
}
