.news-slider-card {
  &__link {
    display: flex;
    flex-direction: column-reverse;
    row-gap: fluid(16, 8);
  }

  &__image {
    display: flex;
    object-fit: cover;
    border-radius: fluid(8, 6);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    color: var(--color-placeholder);

    p {
      margin: 0;
      font-size: fluid(14, 12);
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
