.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  row-gap: 11px;
  justify-self: flex-start;
  width: 180px;
  align-items: center;
  pointer-events: none;
  transition-duration: var(--transition-duration);

  path {
    fill: #F5F5FF;
  }

  circle {
    fill: #1463FF;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
  }

  &__desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-placeholder);
    transition: all 5s;
  }

  &__tooltip {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-block: 12px;
    padding-inline: 16px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 0 7px 0 #7c7c7c6e;
  }

  &.visible {
    display: flex;
    transition-duration: var(--transition-duration);
    animation: tooltipFadeIn 0.3s ease forwards;
    @include mobile {
      display: none;
    }
  }
}

@keyframes tooltipFadeIn {
  from {
    opacity: 0;
    transform: scale(0.6) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}