html {
  &.is-lock {
    overflow: hidden;
  }
  scrollbar-gutter: auto;
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-dark);
  background-color: var(--color-white);
}

h1,
.h1 {
  @include fluid-text(80, 32);
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 700;
}

h2,
.h2 {
  @include fluid-text(56, 24);
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 600;
}

h3,
.h3 {
  @include fluid-text(32, 16);
  line-height: 131%;
  letter-spacing: -0.03em;
  font-weight: 600;
}

h4,
.h4 {
  @include fluid-text(32, 18);
  line-height: 131%;
  letter-spacing: -0.03em;
  font-weight: 600;
}

h5,
.h5 {
  @include fluid-text(22, 18);

  font-weight: 400;
}

h6,
.h6 {
  @include fluid-text(20, 16);

  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
