:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #1D1E25;
  --color-accent: #e50000;
  --color-placeholder: #7E8492;
  --color-gray: #808080;
  --color-background-transparent: rgba(22, 26, 52, 0.6);
  --color-copyright: #AFB3BB;
  --color-blue-hover: #161A34;
  --color-blue-primary: #1463FF;
  --color-light-gray: #F5F5F5;
  --color-border-footer: #161A34;
  --color-border: #EDEDED;
  --color-offer-button-border: #CED1D8;

  --border-radius: 8px;
  --border-radius-100: 100px;

  --border: 1px solid var(--color-border);
  --border-footer: 1px solid var(--color-border-footer);

  --font-family-base: 'Inter';

  --container-width: #{$container-desktop-width}px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}