:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #1d1e25;
  --color-accent: #ff5555;
  --color-placeholder: #7e8492;
  --color-gray: #808080;
  --color-background-transparent: rgba(22, 26, 52, 0.6);
  --color-copyright: #afb3bb;
  --color-blue-hover: #161a34;
  --color-blue-primary: #1463ff;
  --color-light-gray: #f5f5f5;
  --color-border-footer: #161a34;
  --color-border: #ededed;
  --color-offer-button-border: #bec1c9;

  --border-radius-8: 8px;
  --border-radius-100: 100px;
  --border: 1px solid var(--color-border);
  --border-footer: 1px solid var(--color-border-footer);

  --box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);

  --font-family-base: 'Inter';

  --container-width: #{$container-desktop-width}px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;

  --layerMobileMenu: 100;
}
