.team-slider-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(16, 8);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
  }

  &__image {
    height: fluid(434, 244);
    object-fit: cover;
    border-radius: fluid(8, 6);
  }

  &__name {
    font-size: fluid(24, 15);
    font-weight: 600;
    line-height: 1.5;
  }

  &__position {
    font-size: fluid(18, 14);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-placeholder);
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: fluid(8, 4);
  }
}

.team-slider-card__soc1als {
  .soc1als__list {
    @include mobile {
      column-gap: 12px;

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
