.field {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
  }

  &__required-star {
    color: var(--color-accent);
  }

  &__control {
    height: 44px;
    padding-block: 10px;
    padding-inline: 14px;
    border-radius: 8px;
    border: var(--border);
    font-size: 14px;
    @include tablet-above {
      width: 240px;
    }
    @include mobile {
      width: 100%;
    }
    @include hover {
//      border-color: var(--color-white);
    }

    &:user-invalid {
      border-color: var(--color-accent);
    }

    &:disabled {
      @include disabled;
    }

    &::placeholder {
      color: var(--color-gray);
    }
  }

  textarea.field__control {
    min-height: 134px;
    padding-block: 10px;
    padding-inline: 14px;
    resize: vertical;
  }
}
