.ideas {
  &__header {
    padding-block: fluid(80, 24);
    border-block: var(--border);

    .section-header {
      display: grid;
      grid-template-columns: 50% auto;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 16px;
      }

      &__desc {
        max-width: 470px;
        font-weight: 600;
        color: var(--color-dark);

        @include tablet {
        }
      }

      &__title {
      }
    }
  }
}
