.partner {
  &__inner {
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-block: fluid(86, 56);
    border-block: 1px solid var(--color-border);

    .partner__header {
      .section-header {
        align-items: center;
        text-align: center;
      }
    }

    @include tablet {
      flex-direction: column;
      row-gap: fluid(50, 32);
    }
  }

  &__list {
    --columns: 4;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: fluid(30, 16);

    @include tablet {
      --columns: 2;

      row-gap: 16px;
    }
  }
}
