.header {
  position: sticky;
  z-index: 100;
  top: 0;
  padding-block: 24px;
  background-color: rgb(250 250 250 / 10%);
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 100px 600px;
  backdrop-filter: blur(10px);

  @keyframes scrolling-header {
    to {
      padding-block: 12px;
      box-shadow: 0 0 10px 0 #b1b1b1;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: fluid(140, 112);
  }

  &__logo--invert {
    filter: invert(1);
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 68px;
    transition-duration: var(--transition-duration);

    @include mobile {
      position: fixed;
      z-index: var(--layerMobileMenu);
      inset: 0;
      overflow: auto;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      background-color: var(--color-white);

      &:not(.is-active) {
        @include hide;
      }
    }
  }

  &__menu-list {
    display: flex;
    column-gap: 32px;

    @include mobile {
      overflow: auto;
      flex-direction: column;
      align-items: center;
      width: 200px;
      margin-top: 30px;
    }
  }

  &__menu-link {
    align-items: center;
    height: 44px;
    font-weight: 500;
    color: var(--color-dark);

    &.is-active {
      color: var(--color-accent);
    }
  }

  &__burger-button {
    z-index: var(--layerMobileMenu);
  }

  &__menu-link-contact {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 44px;
    font-weight: 600;
    transition-duration: var(--transition-duration);

    @include mobile {
      position: relative;
      margin-bottom: 30px;
    }

    @include hover {
      &::after {
        position: absolute;
        right: -19px;
        opacity: 1;
        translate: -2px 0;

        @include mobile {
          right: -25px;
        }
      }
    }

    &::after {
      content: '->';
      position: absolute;
      right: -10px;
      opacity: 0;
      transition-duration: var(--transition-duration);
      translate: 0;

      @include mobile {
        right: 0;
      }
    }
  }
}
