.header {
  padding-block: 22px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: fluid(140, 112);
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 68px;
    transition-duration: var(--transition-duration);
    @include mobile {
      position: fixed;
      inset: 0;
      row-gap: 30px;
      z-index: var(--layerMobileMenu);
      overflow: auto;
      justify-content: center;
      flex-direction: column;
      background-color: var(--color-white);

      &:not(.is-active) {
        @include hide;
      }
    }
  }

  &__menu-list {
    display: flex;
    column-gap: 32px;
    @include mobile {
      width: 200px;
      margin-top: 30px;

      flex-direction: column;
      align-items: center;
      overflow: auto;
    }
  }

  &__menu-link {
    font-weight: 500;
    color: var(--color-dark);
    height: 44px;
    align-items: center;

    &.is-active {
      color: var(--color-accent);
    }
  }

  &__burger-button {
    z-index: var(--layerMobileMenu);
  }

  &__menu-link-contact {
    position: relative;
    font-weight: 600;
    display: flex;
    height: 44px;
    align-items: center;
    column-gap: 10px;
    transition-duration: var(--transition-duration);
    @include mobile {
      position: relative;
      margin-bottom: 30px;
    }

    @include hover {
      &::after {
        translate: -2px 0;
        opacity: 1;
        position: absolute;
        right: -19px;
        @include mobile {
          right: -25px;
        }
      }
    }

    &::after {
      position: absolute;
      content: "->";
      translate: 0;
      right: -10px;
      transition-duration: var(--transition-duration);
      opacity: 0;
      @include mobile {
        right: 0;
      }
    }
  }
}