.plan-hero {
  padding-top: fluid(91, 8);
  padding-bottom: fluid(78, 56);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: fluid(186, 56);
  }

  &__header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: fluid(24, 16);
    text-align: center;
  }

  &__title {
    order: 2;
    max-width: 900px;
  }

  &__action {
    order: 1;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 12px;
    margin-top: fluid(22, 0);
    font-size: fluid(16, 14);
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-placeholder);
  }

  &__badge {
    order: 3;
  }

  &__list {
    --columns: 3;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: fluid(32, 16);

    @include tablet {
      --columns: 2;

      row-gap: 32px;
    }

    @include mobile {
      --columns: 1;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__label {
  }

  &__input {
    appearance: none;
    position: relative;
    width: 44px;
    height: 24px;
    margin: 0;
    background-color: var(--color-border);
    border-radius: 50px;
    cursor: pointer;
    transition-duration: var(--transition-duration);

    &:checked {
      background-color: var(--color-blue-primary);

      &::before {
        background-color: var(--color-border);
        translate: 100% 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      margin: 2px;
      background-color: var(--color-blue-primary);
      border-radius: 50%;
      transition-duration: var(--transition-duration);
    }
  }
}
