.slider {
}

// Стили для Swiper - гарантируем горизонтальное отображение
.swiper-wrapper {
  display: flex;
}

.swiper {
  overflow: hidden;
}

.swiper-slide {
  flex-shrink: 0;
  display: flex;
  width: auto;
  height: auto;
}
